  GNU nano 7.2                                                                      .gitignore                                                                              .env
venv

*.pyc*

package.json
pnpm-loc.yaml

.idea
docker-compose.yml
*/migrations/*.py
db.sqlite3
media/*